.inclusion code {
    color: firebrick;
}

.chartable {
    border-collapse: collapse;
    border-bottom: 1px solid black;
}
.chartable th {
    border: 1px solid black;
}
.chartable td {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.chartable code {
    font-family: 'Segoe UI';
}

.example_table {
    border: 1px solid black;
}
.example_table code {
    color: black;
    font-family: monospace;
}

.jquery_blue_text {
    color: blue;
}